/* Color Theme Swatches in Hex */
$Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-1-hex: #36bfb1;
$Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-2-hex: #038c73;
$Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-3-hex: #02735e;
$Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-4-hex: #014034;
$Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-5-hex: #0d0d0d;

/* Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100%;
  width: 100%;
  background-color: #36bfb1;
}

main {
  display: flex;
  flex-direction: column;
  background-image: url(/image/forest.jpg);
}

header {
  height: 15vh;
  background-color: $Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-2-hex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 2%;
  .header__title {
    font-size: 300%;
  }
}

.add__button {
  background-color: $Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-3-hex;
  font-size: 15px;
  width: 100px;
  height: 50px;
  color: #fff;
  font-weight: bold;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  border: none;
  margin: 2%;
  align-self: flex-end;
}

.add__button:hover {
  background: #028970;
}

form {
  position: fixed;
  min-height: 60%;
  min-width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #038c73a0;
  padding: 3%;
  z-index: 3;
  display: none;
  //glassmorphism
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  .form__description {
    resize: none;
    height: 10vh;
    width: 40vw;
  }
  .form__create {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    border-radius: 6px;
    color: #3d3d3d;
    background: #fff;
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  }

  .close__button {
    align-self: flex-end;
    ion-icon {
      color: white;
      font-size: 150%;
    }
  }

  .form__create:focus {
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
      0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }
}
.form__header {
  color: white;
}

.card {
  background-color: $Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-4-hex;
  min-height: 65vh;
  margin: 2% 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  .card__title {
    text-align: center;
    color: $Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-5-hex;
    background-color: white;
  }
  .card__table {
    margin: 0% 2%;
  }
  .card__description {
    background-color: #02735e;
    min-height: 10vh;
    margin: 0% 2%;
  }
  .card__organizer {
    background-color: #02735e;
    margin: 0% 2%;
  }
  .card__bottom{
    display: flex;
    justify-content: space-between;
  }

  .add__name {
    font-family: "Roboto", sans-serif;
    font-weight: 400px;
    font-size: 12px;
    color: #fff;
    background-color: #038C73;
    padding: 4px 6px;
    margin: 4px;
    border: solid #038C73 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 1025ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    }

  .add__name:hover {
    font-weight: 600px;
    transition : 1025ms;
    padding: 6px 8px;
    transform : translateY(-0px);
    background-color:  #038C73;
    color: #264653;
    border: solid 2px  #038C73;
  }

  .add__date {
    font-family: "Roboto", sans-serif;
    font-weight: 400px;
    font-size: 12px;
    color: #0D0D0D;
    background-color: #fff;
    padding: 4px 6px;
    margin: 4px;
    border: solid #fff 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 1025ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    }

    .add__date:hover{
      transition : 1025ms;
      padding: 6px 8px;
      transform : translateY(-0px);
      background-color: white;
      color: #264653;
      border: solid 2px white;
      font-weight: 600px;
      }

  .delete{
    height: auto;
    width: 40px;
  }

  table {
    border: 1px solid #b3adad;
    border-collapse: collapse;
    padding: 5px;
  }
  table th {
    border: 1px solid #b3adad;
    padding: 5px;
    background: #f0f0f0;
    color: #313030;
  }
  table td {
    border: 1px solid #b3adad;
    text-align: center;
    padding: 5px;
    background: #ffffff;
    color: #313030;
  }
}
