/* Color Theme Swatches in Hex */
$Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-1-hex: #36BFB1;
$Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-2-hex: #038C73;
$Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-3-hex: #02735E;
$Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-4-hex: #014034;
$Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-5-hex: #0D0D0D;

/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


