/* Color Theme Swatches in Hex */
$Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-1-hex: #36BFB1;
$Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-2-hex: #038C73;
$Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-3-hex: #02735E;
$Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-4-hex: #014034;
$Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-5-hex: #0D0D0D;

/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100%;
    width: 100%;
    background-color: #36BFB1;
}

header {
    height: 15vh;
    background-color: $Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-2-hex;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header__button{
    background-color: $Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-3-hex;
    font-size:15px;
    width:100px;
    height:50px;
    border-width:1px;
    color:#fff;
    font-weight:bold;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    text-shadow: 1px 1px 0px #2f6627;
    position: absolute;
    right: 0;
    margin: 5px;
}

.header__button:hover{
    background: #028970;
}
