/* Color Theme Swatches in Hex */
/* Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100%;
  width: 100%;
  background-color: #36bfb1;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  height: 15vh;
  background-color: #038c73;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 2%;
}

header .header__title {
  font-size: 300%;
}

.add__button {
  background-color: #02735e;
  font-size: 15px;
  width: 100px;
  height: 50px;
  color: #fff;
  font-weight: bold;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  border: none;
  margin: 2%;
  align-self: flex-end;
}

.add__button:hover {
  background: #028970;
}

form {
  position: fixed;
  min-height: 60%;
  min-width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #038c73a0;
  padding: 3%;
  z-index: 3;
  display: none;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

form .form__description {
  resize: none;
  height: 10vh;
  width: 40vw;
}

form .form__create {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  color: #3d3d3d;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
}

form .close__button {
  align-self: flex-end;
  color: white;
  font-size: 150%;
}

form .form__create:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.form__header {
  color: white;
}

.card {
  background-color: #014034;
  min-height: 65vh;
  margin: 2% 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.card .card__title {
  text-align: center;
  color: #0d0d0d;
  background-color: white;
}

.card .card__table {
  margin: 0% 2%;
}

.card .card__description {
  background-color: #02735e;
  min-height: 10vh;
  margin: 0% 2%;
}

.card .card__organizer {
  background-color: #02735e;
  margin: 0% 2%;
}

.card .card__bottom {
  display: flex;
  justify-content: space-between;
}

.card .add__name {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #02735e;
}

.card .delete {
  height: auto;
  width: 40px;
}

.card table {
  border: 1px solid #b3adad;
  border-collapse: collapse;
  padding: 5px;
}

.card table th {
  border: 1px solid #b3adad;
  padding: 5px;
  background: #f0f0f0;
  color: #313030;
}

.card table td {
  border: 1px solid #b3adad;
  text-align: center;
  padding: 5px;
  background: #ffffff;
  color: #313030;
}
/*# sourceMappingURL=style.css.map */